body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

label {
    font-weight: bold;
}

 select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.reset-btn {
    background: #ff4444;
    color: white;
}

.submit-btn {
    background: #008CBA;
    color: white;
}
